<section id="contact " class="py-5">
  <div class="container">
    <div class="row">
      <div class="align-content-center">
        <h2 class="contact-text fw-bold fs-1 py-5 ">CONTACT SECTION</h2>
        <div class="line1 mt-2"></div>

        <i class=" icon-star3 fa-solid fa-star fs-4 position-relative "></i>
          <div class="line2 mt-2"></div>



                  <div class="card-body p-md-5">


                        <p class=" contact-text2 text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Sign up</p>

                        <form class="mx-1 mx-md-4">

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example1c"></label>
                              <input type="text" id="form3Example1c" class="form-control" placeholder="user Name" />

                            </div>
                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">  <label class="form-label" for="form3Example3c"></label>

                              <input type="email" id="form3Example3c" class="form-control" placeholder="userEmail" />

                            </div>

                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">  <label class="form-label" for="form3Example3c"></label>

                              <input type="email" id="form3Example3c" class="form-control me-3" placeholder="userAge" />

                            </div>

                          </div>

                          <div class="d-flex flex-row align-items-center mb-4">
                            <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                            <div class="form-outline flex-fill mb-0">
                              <label class="form-label" for="form3Example4c"></label>
                              <input type="password" id="form3Example4c" class="form-control" placeholder="userPassword" />

                            </div>
                          </div>
                          <div class="d-flex mx-4 mb-3 mb-lg-4">
                            <button type="button" class="btn btn-success btn-lg">Send Message</button>
                          </div>


                        </form>



                  </div>





      </div>
    </div>
  </div>

</section>
