<section id="gallery" class="pt-3">
<div class="container text-light m-auto py-5">
  <div class="gallery-content">
<div class="row">
<div class="col-lg-4 col-md-6">
  <div class="content1 align-items-center ">
    <h3 class="mx-4">LOCATION</h3>
    <P class="mx-1">2215 John Daniel Drive</P>
    <P class="mx-2">Clark, MO 65243</P>
  </div>

</div>


<div class="col-lg-4 col-md-6  ">
  <div class="content2">
    <h3>AROUND THE WEB</h3>
    <div class="icons p-2 ">
      <i class="fa-brands fa-facebook mx-2 icon"></i>
      <i class="fa-brands fa-twitter mx-2 icon"></i>
      <i class="fa-brands fa-linkedin-in mx-2 icon"></i>
      <i class="fa-solid fa-globe mx-2 icon"></i>
    </div>
  </div>

</div>

<div class="col-lg-4 col-md-6">
  <div class="content3">
    <h3 class="mx-4">ABOUT FREELANCER</h3>
    <P class="mx-2">
      Freelance is a free to use, licensed Bootstrap theme created by Route</P>

  </div>

</div>


</div>

  </div>
</div>
</section>
