<section id="portfolio " class="py-5">
  <div class="container">
    <div class="portfolio-content rounded-5">
      <h2 class=" portfolio-text mt-5 mb-3 fw-bold fs-1">PORTFOLIO COMPONENT</h2>
      <div class="line1 mt-2"></div>

        <i class=" icon-star5 fa-solid fa-star fs-4 position-relative "></i>
          <div class="line2 mt-2"></div>

      <div class="row">
        <div class="col-lg-4 col-md-6 py-3 ">

          <div class="portfolio-img  position-relative overflow-hidden ">
            <img [src]=' imgSrc1' class="w-100" [alt]='imgAlt'>
          </div>
          <!-- <div class="portfolio-layer  position-absolute w-100 h-100 ">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
        <div class="col-lg-4 col-md-6 py-3">
          <div class="portfolio-img   position-relative overflow-hidden">
            <img [src]='imgSrc2' class="w-100" [alt]='imgAlt'>
          </div>
          <!-- <div class="portfolio-layerr  position-absolute w-100 h-100 ">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
        <div class="col-lg-4 col-md-6 py-3">
          <div class="portfolio-img   position-relative overflow-hidden">
            <img [src]='  imgSrc3' class="w-100" [alt]='imgAlt'>
          </div>
          <!-- <div class="portfolio-layer  position-absolute w-100 h-100">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
        <div class="col-lg-4 col-md-6 py-3">
          <div class="portfolio-img  position-relative overflow-hidden">
            <img [src]=' imgSrc1' class="w-100" [alt]='imgAlt'>
          </div>
          <!-- <div class="portfolio-layer  position-absolute ">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
        <div class="col-lg-4 col-md-6 py-3">
          <div class="portfolio-img  position-relative overflow-hidden ">
            <img [src]=' imgSrc2' class="w-100 " [alt]='imgAlt'>
          </div>
          <!-- <div class="portfolio-layer  position-absolute ">
            <i class="text-white fa-solid fa-plus fa-6x"></i>
          </div> -->
        </div>
        <div class="col-lg-4 col-md-6 py-3">
          <div class="portfolio-img   position-relative overflow-hidden">
            <img [src]=' imgSrc3' class="w-100" [alt]='imgAlt'>
          </div>
          <!-- <div class="portfolio-layer  position-absolute">

            <i class="text-white fa-solid fa-plus fa-6x"></i>

          </div> -->
        </div>


      </div>

    </div>
  </div>

</section>
